@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;;
    margin:0;
}

* {
    box-sizing: border-box;
}
body h1 {
    font-size: 2rem;
}
.app-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    padding-right: 1rem;
    padding-left: 1rem;
    background-position: left;
    background-image: url("../favicon/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color:white;
    position: relative;
    width: 100%;
    border-bottom: 3px solid lightpink;
}
  
  /* Hide the links inside the navigation menu (except for logo) */
.topnav #myLinks {
    display: none;
}
  
  /* Style navigation menu links */
.topnav a {
    color: lightpink;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    width: auto;
}

.cloud {
    border: 2px solid black;
}

#nav-title {
    color: lightpink;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    width: auto;
    font-family: 'Roboto Slab', serif;
}

#myLinks a {
    color: lightpink;
    font-size: 1rem;
    text-align: left;
}
  /* Style the hamburger menu */
.topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
  /* Add a lightpink background color on mouse-over */
#myLinks a:hover {
    background-color: lightpink;
    color: white;
}

section {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.description p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.description h1 {
    text-align: center;
}
/* Style for first section (welcome section) of main page */
.main-page .welcome .welcome-photo img{
    max-width: 100%;
}

.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0rem;
    padding-top: 0rem;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 35%;    
}

.welcome-text p {
    background-color: lightpink;
    color: white;
    margin: 0.3rem;    
}

/* Style for introduction section in main page */

.introduction {
    display: flex;
    flex-direction: column;
}

.intro-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro-h1 {
    text-align: center;

}

.intro-p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
}
.intro-card .card img {
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.intro-card {
    margin-left: 1rem;
    margin-right: 1rem;
}
.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card p {
    font-weight: bold;
}

/* Style for food waste section of the main page */
.foodwaste {
    background: linear-gradient(#b0e0e6, lightpink); 
    margin-left: 0rem;
    margin-right: 0rem;
}

.foodwaste-card {
    margin-left: 1rem;
    margin-right: 1rem;
}
.foodwaste h1 {
    text-align: center;
}
.foodwaste .description {
    margin-left: 1rem;
    margin-right: 1rem;
}

.foodwaste .foodwaste-card .card{
    margin: 1rem 0.5rem;
    height: auto;
}
.foodwaste .foodwaste-card .card h5 {
    font-weight: bold;
}
.foodwaste .foodwaste-card .card p {
    font-weight: 600;
}
.intro-card .card {
    margin: 1rem 0.5rem;
}

/* Style for hunger crisis section of the main page */
.hunger-img img {
    width: 100%;
}

/* Style for food banks section fo the main page */
.foodbank {
    margin-left: 0rem;
    margin-right: 0rem;
    background: linear-gradient(lightpink, #b0e0e6); 
}
.foodbank .description{
    margin-left:1rem;
    margin-right:1rem;
}
/* Style for mission section of the main page */
#mission .mission-img img {
    width: 100%;
    margin-top: 2rem;
}
.app-button .learnMore-button {
    margin-left: 0.5rem;
    width: 30%;
    background-color: #b0e0e6;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    
}

/* Style for footer of the main page */
.footer-container{
    background-color: lightpink;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.about-us-container {
    margin-top: 4rem;
}
.about-us-container, .contact-us-container {
    margin-left: 2rem;
    text-align: left;
    color: white;
}
.footer-container .row h2 {
    font-size: 1rem;
    font-weight: bold;
}
.footer-container .row p, .footer-container .row address {
    font-size: 0.75rem;
    width: 60%;
}
address a {
    color: white;
}
.row-bottom {
    text-align: center;
    color: white;
    font-size: 0.75rem;
    margin-top: 3rem;
}
.row {
    margin-right: 0;
}
/* Style for application page input form*/
form {
    margin: 2rem;
    font-size: 0.65rem;
}

.form-control {
    color: lightgray;
}

.btn {
    background-color: #b0e0e6;
    border-color: #b0e0e6;
}

/* style fo map display*/
#app-map {
    height: 20rem;
    width: auto;
    margin: none;
    margin-left: 4px;
}

/* style for map marker.*/
#markerHead, #markerAddress, #markerPhone{
    font-size: 0.75rem;
}

#foodbankList h2 {
    font-size: 1rem;
}
.dropdownlists button{
    color: black;
}



.map {
    height: 40rem;
    width: 100%;
}

.mapApp {
    display: flex;
    flex-direction: column;
}
form label {
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}

form button {
    margin-top: 1rem;
}

#zipcodeInput {
    width: 50%;
}

#foodbankList {
    margin-top: 1rem;
}
.drop-list {
    margin-left: 1rem;
}
.infowindow h1{
    font-size: 1rem;
}
.infoTitle {
    font-weight: bold;
}
body .dropdown-item:hover {
    background-color: lightpink;

}

@media only screen and (min-width: 598px) {
    

    .intro-card, .foodwaste-card {
        display: flex;
        flex-direction: row;
    }
    .card {
        flex: 1;
        margin: 0rem;
    }   
    .foodwaste .foodwaste-card .card {
        height: auto;
    }
}

@media only screen and (min-width: 768px) {
    body ,.main-page{
        font-size: 1.5rem;
    }
    .cloud {
        margin-top: 2rem;
    }
    .mapApp {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .mapApp .form-dropdown {
        flex: 1;
        
    }
    .mapApp .map {
        flex: 10;
        margin-right: 2rem;
    }
    #zipcodeInput {
        width: 30%;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        height: 5rem;
        font-size: 1.5rem;
    }
    .topnav a {
        flex: 1;
    }
    .topnav #myLinks a {
        font-size: 1.5rem;
    }
    .card {
        font-size: 1rem;
    }
    .topnav #myLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex:2;
        justify-content: flex-end;
    }
    .topnav a.icon {
        display: none;
    }


}
@media only screen and (min-width: 840px) {
    .main-page .welcome .welcome-photo{
        text-align: center;
        width: 100%
    }
    .welcome-photo {
        background: linear-gradient(to right, #b0e0e6, lightpink);
    }
    section {
        margin-left: 10%;
        margin-right: 10%;
    }
    .foodwaste-container, .foodbank-container {
        margin-left: 10%;
        margin-right: 10%;
    }

}
@media only screen and (min-width: 909px) {
    .footer-container .row {
        display: flex;
        flex-direction: row;
    }
    .footer-container .about-us-container, .contact-us-container {
        flex: 1;
    }
    .contact-us-container {
        margin-top: 4rem;
    }
    .about-us-container {
        margin-left: 5rem;
    }
    .row-bottom p {
        font-size: 0.75rem;
    }
    

}
@media only screen and (min-width: 1500px) {
    body h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
    }
    .topnav #myLinks {
        padding-right: 1.5rem;
    }
    .intro-content-container, .foodwaste {
        display: flex;
        flex-direction: row;
    }
    .introduction .intro-logo-div {
        flex: 1;
        margin: auto;
        text-align: center;
        
    }
  
    .introduction .intro-text-div {
        flex: 2;
        margin-right: 3rem;
    }
    body .introduction .intro-text-div .intro-h1 {
        text-align: left;
        margin-left: 1rem;
    }
    .introduction .intro-text-div .intro-h1, .intro-p {
        text-align: left;
        margin-bottom: 2rem;
    }

    .foodwaste .foodwaste-container {
        display: flex;
        flex-direction: row;
    }
 
    .foodwaste .description {
        flex: 1;
    }
    .foodwaste .description h1 {
        text-align: left;
        margin-left: 3rem;
    }
    .foodwaste .description p {
        margin-left: 3rem;
    }
    .foodwaste .foodwaste-card .card p {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .foodwaste-card {
        flex-wrap: wrap;
    }
    .foodwaste-card-div .foodwaste-card .card {
        width: auto;
    }
    .hunger-container {
        display: flex;
        flex-direction: row;
    }
    .hunger-container .hunger-img-div {
        flex: 1;
        order: 1;
        margin-left: 3rem;
    }
    .hunger-container .hunger-text-div {
        flex: 2;
        order: 2;
    }
    .hunger-container .description h1 {
        text-align: left;
        margin-left: 1rem;
    }

    .foodbank .description p {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mission-content {
        display: flex;
        flex-direction: row;
    }
    .mission-content .description h1 {
        text-align: left;
        margin-left: 3rem;
    }
    .mission-content .description p {
        margin-left: 3rem;
    }
    .mission-content .mission-text-div {
        flex: 2;
    }
    .mission-content .mission-img {
        flex: 1;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .app-button {
        margin-left: 3rem; 
    }
  

    .infowindow p{
        font-size: 1rem;
    }

    body .mapApp .map {
        margin-left: 2rem;
        flex: 2;
    }
    body .mapApp.form-dropdown {
        flex: 2;
    }

}